div.content{background:url("../img/register/bgimg2.jpg") repeat no-repeat;}
div.login{
	width:600px;
	height:600px;
	background:rgba(28,28,28,0.3);
	margin-top:100px;
	margin-left:290px;
	text-align:center;
	border:0.1px solid #212121;
	color:#fff;
}
div.login>p{
	height:60px;
	text-align:center;
	font-size:18px;
	margin-top:40px;
}
div.login>p>span{
	display:inline-block;
	width:100px;
	height:24px;
	cursor:pointer;
}
div.login>p>span:hover{
	border-bottom:1px solid #fff;
	color:#0aa1ed;
}
ul li>p{
	text-align:left;
}
div.login ul li{
	display:inline-block;
	width:300px;
	height:64px;
	}
ul li input{
	width:100%;
	height:30px;
}
ul li span{
	float:right;
}
/*跳转到注册页面的按钮*/
ul li span a{
	display:inline-block;
	width:65px;
	height:20px;
	background-color:#ffab2e;
	border-radius:3px;
	text-align:center;
	font-size:16px;
}