.vali_info{/* 页面初始，验证消息不显示 */
	display:none;
}
.txt_focus{/*当文本框获得焦点时样式*/
	border-top:2px solid #50afd1;
	border-left:2px solid #50afd1;
}/*当文本框失去焦点时取消*/

.vali_success,.vali_fail{
	background-repeat:no-repeat;
  background-position:left center;
	display:block;
}
/* 验证消息：验证通过时的样式 */
.vali_success{
    background-image:url("../img/register/ok.png");
	padding-left:20px;
	width:0px;height:20px;
	overflow:hidden;
}
/* 验证消息：验证失败时的样式 */
.vali_fail{
    background-image:url("../img/register/err.png");
    border:1px solid red;
    background-color:#ddd;
    color:Red;
    padding-left:30px;
}